<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button routerLink="/">Angular CMS</button>

    <span class="example-spacer"></span>

    
    <button mat-button routerLink="/article">Article Page</button>
    <button mat-button routerLink="/admin">Admin</button>
    <div *ngIf="! user">
      <button mat-button (click)="afService.loginWithGoogle()">Login</button>
    </div>
    <div *ngIf="user">

      <button mat-button [matMenuTriggerFor]="menu">
          <span>Hello {{user.displayName}}</span>
          <img class="profileImg" [src]="user.photoURL">
      </button>
      <mat-menu #menu="matMenu" x-position="after" y-position="below" overlapTrigger="false">
        <button mat-menu-item disabled>
          <mat-icon>account_circle</mat-icon>
          <span>Account Settings</span>
        </button>
        <button mat-menu-item (click)="afService.logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Log out</span>
        </button>
      </mat-menu>

    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div *ngIf="user">
  <p>Subscriber: {{user.roles?.subscriber ? true:false}}</p>
  <p>Admin: {{user.roles?.admin ? true:false}}</p>
</div>