<div style="text-align:center">
  <h1>
    Welcome to CMS with Angular 5!
  </h1>
  <div class="center-ul">
    <h2>Whats new in Angular 5</h2>
    <ul>
      <li>
        <h3>Progressive Web Applications</h3>
      </li>
      <li>
        <h3>Built with AOT</h3>
      </li>
      <li>
        <h3>Forms validation behavior</h3>
      </li>
      <li>
        <h3>Internationalized Number. Date, Currency Pipes</h3>
      </li>
      <li>
        <h3>HttpClient</h3>
      </li>
      <li>
        <h3>Router additional events</h3>
      </li>
      <li>
        <h3>Multiple Export Alias</h3>
      </li>
      <li>
        <h3>Improved Animations in Angular 5</h3>
      </li>
    </ul>
  </div>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>